node_modules
.idea
.bundle
__tests__
android
ios
vendor
.DS_Store
.eslintrc.js
.prettierrc.js
.watchmanconfig
app.json
babel.config.js
Gemfile
Gemfile.lock
index.js
jest.config.js
metro.config.js
package.json
package-lock.json
README.md
tsconfig.json
